cs50
Flask
Flask-Session
requests



CREATE TABLE 'users' (
  'id' INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  'name' text NOT NULL,
  'email' text UNIQUE NOT NULL,
  'created_at' DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP 
);


CREATE TABLE 'advisors' (
  'id' INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  'name' varchar(255) NOT NULL,
  'email' text UNIQUE NOT NULL,
  'created_at' DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP 
);

CREATE TABLE 'category' (
  'id' INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  'name' varchar(255) NOT NULL
);

CREATE TABLE 'recipes' (
  'id' INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  'title' varchar(255) NOT NULL,
  'description' text NOT NULL,
  'more_info' text,
  'created_at' DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ,
  'advisor_id' INTEGER NOT NULL,
  'category_id' INTEGER NOT NULL,
  'user_id' INTEGER NOT NULL,
  FOREIGN KEY (advisor_id) REFERENCES advisors(id) ON DELETE CASCADE ,
  FOREIGN KEY (category_id) REFERENCES category(id),
  FOREIGN KEY (user_id) REFERENCES users(id)
);

ALTER TABLE 'recipes' ADD FOREIGN KEY ('advisor_id') REFERENCES 'advisors.id' ('id');

ALTER TABLE 'recipes' ADD FOREIGN KEY ('category_id') REFERENCES 'category' ('id');

ALTER TABLE 'recipes' ADD FOREIGN KEY ('user_id') REFERENCES 'users' ('id');



FOREIGN KEY (cidade_id) REFERENCES cidades(id)