{% extends "layout.html" %}

{% block title %}
    Product Detail
{% endblock %}

{% block main %}

<section class="card_container ">
    <div class="fields">

        <div class="prod_item">
                    
            <div class="card-img-top">
                <img class = "img-oneproduct" src="{{product[0][1]}}" alt="">
            </div>
            <div class="sub">     
        
            <div class= "show">Title</div>
            <p class="card-text">{{product[0][2]}}</div>          
        
        
            <div class="show">Description</div>
            <p class="card-text"> {{product[0][3]}}</p>
        

      
            <div class= "show">Category</div>
            
                
                <p id="categ" value="{{product[0][5]}}" >
                    {% if product[0][5]== 1%} 
                    <span>essencial oil </span>
                    
                    {%elif product[0][5] == 2%}
                    <span>herbal medicine</span>
                    
                    {% elif product[0][5]== 3 %} 
                    <span>Bach Flower Therapy</span>  
                    
                    {% elif product[0][5] == 5 %}
                    <span>Others</span> 
                    
                    {% else  %} 
                    <span>Homeopathy</span> 
                    {%endif%}
                </p>
            
       
        
            <div class= "show">Price</div>
            <p class="card-text"><strong>Price: {{product[0][6]}}</strong> </p>
        

        
        <a class="button-see" href="/products">continuar comprando</a>
        {% if quantity > 0 %}
            <form action="/products/{{product[0][0]}}" method="post">
                <input type="hidden" name="product_id" value="{{product[0][0]}}"/>
                <input type="number" name="quantity" min="1" placeholder="0" style="width: 50px" required />
                <button class="btn btn-sm btn-sucess" type="submit">Buy</button>
            </form>
        {% else %}
            <div class= "show">Quantity</div>
            <p class="card-text"><strong>Produto Indisponivel</strong> </p>
        {%endif%}
    </div>
</div>
</section>
        <script >
            const buy= document.querySelector(".btn.btn-sm.btn-sucess")
            buy.addEventListener("submit", function(event){
                const confirmation = confirm("Do you confirm ?")
                if (!confirmation){
                    event.preventDefault()
                }
            })

        </script>
    
        

{% endblock %}
