{% extends "layout.html" %}

{% block title %}
    Product Detail
{% endblock %}

{% block main %}

    <div >
        <img class="img-fluid" alt="Responsive image" src="{{product[0][1]}}" > 
        
    </div>
  
    <div class="form-group">
                     
        <div class="form-group">
            <div class= "show">Title</div>
            <div class="form-control">{{product[0][2]}}</div>          
        </div>
        <div class="form-group">
            <div class="show">Description</div>
            <textarea class="form-control" name="description" 
            rows="5" cols="33">
            {{product[0][3]}}
            </textarea>
        </div>

       
        <div class="form-group">
            <div class= "show">Category</div>
            <div class="form-control">
                
                <p id="categ" value="{{product[0][5]}}" >
                    {% if product[0][5]== 1%} 
                    <span>essencial oil </span>
                    
                    {%elif product[0][5] == 2%}
                    <span>herbal medicine</span>
                    
                    {% elif product[0][5]== 3 %} 
                    <span>Bach Flower Therapy</span>  
                    
                    {% elif product[0][5] == 5 %}
                    <span>Others</span> 
                    
                    {% else  %} 
                    <span>Homeopathy</span> 
                    {%endif%}
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class= "show">Price</div>
            <div class="form-control"><strong>Price: {{product[0][6]}}</strong> </div>
        </div>

        
        <a class="button-see" href="/products">continuar comprando</a>
             
        <form action="/products/{{product[0][0]}}" method="post">
            <input type="hidden" name="product_id" value="{{product[0][0]}}"/>
            <input type="number" name="quantity" min="1" placeholder="0" style="width: 50px" required />
            <button class="btn btn-sm btn-primary" type="submit">Buy</button>
        </form>
  
       
        <script >
            const buy= document.querySelector(".btn.btn-sm.btn-sucess")
            buy.addEventListener("submit", function(event){
                const confirmation = confirm("Do you confirm ?")
                if (!confirmation){
                    event.preventDefault()
                }
            })

        </script>
    
        

{% endblock %}
