{% extends "layout.html" %}

{% block title %} {% endblock %}

{% block main %}

<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="wrapper-content">
          <div class="img-index">
            <img src="https://images.unsplash.com/photo-1595777480569-8e542c4f904c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="Picture of nature">
          </div>
          
            <div class="content">
              
              <p >Natural healing is a multifaceted system of care, which is primarily gentle and non-invasive. Natural healers often speak of the subtle energy or aura, which emanates from the human body with layers of color. All of the colors combined form the auric field or the rainbow body. When a person is healthy and balanced, these colors are said to be clear and radiant. When a person is ill or out of balance, the colors may appear faded or dim. <br><br>Natural healing can include the complementary therapy or alternative medicine disciplines of Homeopathy, Naturopathy, Aromatherapy..<br><br>Herbs and natural herbal medicine have been an essential part of natural health for centuries.  If your searching for a natural plan to vibrant health that doesn't include the many side-effects of pharmaceutical options, search no more.
                <ul>
                    <li>Aromaterapy</li>
                    <li>Herbal Medicine</li>
                    <li>Homeopathy</li>
                    <li>Bach </li>
                    
                </ul>
        </div>
          
          <div class="last_updated">
            <h1> Featured products</h1>
          </div>
        
        <div class="product-wrapper" style="grid-gap: 2rem;">

          <div class= "featured">

            <div class="img-product">
                <img src="https://images.unsplash.com/photo-1563822249366-3efb23b8e0c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="featured-img"  alt="">
            </div> 
  
            <div class="sub-item">
    
                <h5 class="title">Nome do Produto </h5>
        
                <p class="recip-text">Category: </p>


                <div class= "button-product">
              
                </div>
                <a class="button-see" href="#">ver</a>
        </div>

        
    </div>

    <div class= "featured">

      <div class="img-product">
          <img src="https://images.unsplash.com/photo-1563822249366-3efb23b8e0c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="featured-img"  alt="">
      </div> 

      <div class="sub-item">

          <h5 class="title">Nome do Produto </h5>
  
          <p class="recip-text">Category: </p>


          <div class= "button-product">
        
          </div>
          <a class="button-see" href="#">ver</a>
  </div>



  
</div>

<div class= "featured">

  <div class="img-product">
      <img src="https://images.unsplash.com/photo-1563822249366-3efb23b8e0c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="featured-img" alt="">
  </div> 

  <div class="sub-item">

      <h5 class="title">Nome do Produto </h5>

      <p class="recip-text">Category: </p>


      <div class= "button-product">
    
      </div>
      <a class="button-see" href="#">ver</a>
</div>




</div>
      
        

  </div>

      

      

    
</div>



   
{% endblock %}
