{% extends "layout.html" %}

{% block title %}
    Recipes
{% endblock %}

{% block main %}


<div class="add-recip">
    <h2 class= "recip_title">All Recipes </h2>
    <a class="button" href="/recipes-add">Add New</a>       
</div>

<div class="card w-100">
    
    
    {% for i in range (nr)%}
    
    <div class="card-body">

        <div>

            <h5 class="title">{{recipes[i][2]}}</h5>
        
        
            <p class="recip-text">category: {{recipes[i][7]}}</p>
        
        
            <p><small class="text-muted">author: {{recipes[i][0]}}</small></p>
        </div>

        <div>
            <a class="button-see" href="/recipes/{{recipes[i][1]}}">ver</a>

        </div>
        
        

    </div>
    {%endfor%}
    

       
     
{% endblock %}
