{% extends "layout.html" %}

{% block title %}
    Recipe Detail
{% endblock %}

{% block main %}




    <div >
        <img class="img-fluid" alt="Responsive image" src="" > 
        
    </div>
  
    <div class="form-group">
                     
        <div class="form-group">
            <div class= "show">Title</div>
            <div class="form-control">{{recipe[0][0]}}</div>          
        </div>
        <div class="form-group">
            <div class="show">Description</div>
            <textarea class="form-control" name="description" 
            rows="5" cols="33">
            {{recipe[0][1]}}
            </textarea>
        </div>

        <div class="form-group">
            <div class= "show">More information</div>
            <div class="form-control" >{{recipe[0][2]}}</div>
            
        </div>

        <div class="form-group">
            <div class= "show">Category</div>
            <div class="form-control">
                
                <p id="categ" value="{{recipe[0][5]}}" >
                    {% if recipe[0][5]== 1%} 
                    <span>essencial oil </span>
                    
                    {%elif recipe[0][5] == 2%}
                    <span>herbal medicine</span>
                    
                    {% elif recipe[0][5]== 3 %} 
                    <span>Bach Flower Therapy</span>  
                    
                    {% elif recipe[0][5] == 5 %}
                    <span>Others</span> 
                    
                    {% else  %} 
                    <span>Homeopathy</span> 
                    {%endif%}
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class= "show">Author</div>
            <div class="form-control" style="text-transform: capitalize;">{{recipe[0][4]}}</div>
        </div>

        <div class="form-group">
            <div class= "show" >Published at</div>
            <div class="form-control">{{recipe[0][3]}}</div>
        </div>

       
        <button class="btn btn-dark"onclick="goBack()">Go Back</button>
  
       
        <script>
            function goBack() {
              window.history.back();
            }
        </script>
    
        

{% endblock %}
